---
import { InterMajors, ThaiMajors } from "../../../data/majors";
import Card from "./components/Card.astro";
---

<section
  class="relative bg-[url('/assets/bg2.png')] bg-cover min-h-[160vh] h-full py-24"
>
  <h1 class="text-6xl text-white text-center">ภาควิชา</h1>

  <div class="flex flex-col gap-6 mt-10 w-full max-w-4xl mx-auto">
    <p class="text-4xl text-space-normal text-center">ภาคไทย</p>

    <div class="grid grid-cols-2 gap-4 sm:grid-cols-5 px-10">
      {
        ThaiMajors.map((major) => {
          return (
            <Card nameTH={major.nameTH} nameEN={major.nameEN} id={major.id} />
          );
        })
      }
    </div>
  </div>

  <div class="flex flex-col gap-6 mt-10 w-full max-w-xl mx-auto">
    <p class="text-4xl text-space-normal text-center">
      International School of Engineering (ISE)
    </p>

    <div class="grid grid-cols-2 sm:grid-cols-3 gap-4 px-10">
      {
        InterMajors.map((major) => {
          return (
            <Card nameTH={major.nameTH} nameEN={major.nameEN} id={major.id} />
          );
        })
      }
    </div>
  </div>
</section>
