---
import { InterMajors, ThaiMajors } from "../../../data/majors";
import Card from "./components/Card.astro";
---

<section
  class="relative bg-[url('/assets/bg2.png')] bg-cover min-h-[160vh] h-full py-24"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-6xl text-white text-center">ภาควิชา</h1>

    <div class="mt-10 space-y-6 w-full mx-auto">
      <p class="text-4xl text-space-normal text-center">ภาคไทย</p>

      <div class="flex flex-wrap justify-center gap-6">
        {
          ThaiMajors.map((major) => {
            return (
              <Card nameTH={major.nameTH} nameEN={major.nameEN} id={major.id} />
            );
          })
        }
      </div>
    </div>

    <div class="mt-10 space-y-6 w-full mx-auto">
      <p class="text-4xl text-space-normal text-center">
        International School of Engineering (ISE)
      </p>

      <div class="flex flex-wrap justify-center gap-6">
        {
          InterMajors.map((major) => {
            return (
              <Card nameTH={major.nameTH} nameEN={major.nameEN} id={major.id} />
            );
          })
        }
      </div>
    </div>
  </div>
</section>
